/* https://color.adobe.com/philippine-flag-color-theme-1016455/ */
/* lumpia - https://www.color-hex.com/color-palette/69871 */

.App {
  text-align: center;
  background-color: #F7E4C7;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: #D9C4AC;
}

body {
  padding: 0%;
  margin: 0;
}

.btn{
  color: #9C9961;
  background-color: transparent;
	border-color: transparent;
  display: flex;
  font-size: 22px;
}

.btn:hover{
  color: #826853;
}

/* top grey line seperating the title */
nav {
  height: 60px;
  width: 100%;
  margin: 0;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
}

/* title: tagalordle */
nav h1 {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: #505A36;
  font-size: 45px;
  display: flex;
}

/* actual game board */
.game {
  width: 100vw;
  height: calc(95vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}

/* board for squares */
.board {
  width: 440px;
  height: 440px;
  display: flex;
  flex-direction: column;
}

/* rows of wordle squares */
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

/* letter inserted into wordle */
.letter {
  flex: 33%;
  height: 100%;
  /* border: 2px solid #9C9961; */
  background-color: #AE8E6E;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#correct {
  background-color: #9C9961;
  border: transparent;
}

#almost {
  background-color: #81A4B2;
  border: transparent;
}

#error {
  background-color: #826853;
  border: transparent;
}

/* overall board */
.keyboard {
  width: 700px;
  height: 80px;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

/* individual keys */
.key {
  width: 45px;
  height: 60px;
  margin: 3px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: #505A36;
  color: #ffffff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #826853;
}

.gameOver{

  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #505A36;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.playAgain{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  border-radius: 5px;
  color: white;
  padding: 5px;
  background-color: #9C9961;
	border-color: transparent;
  font-size: 30px;
}

.playAgain:hover{
  background-color: #826853;
}